 /**************************/
/* VIEW BELOW 544px (Phones) */
/* 16px * 34 = 544px  */
/**************************/

@media (max-width: 34em) {
  
  .heading-primary {
    font-size: 4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }

  .grid{
   
}
.grid--2-cols{
    grid-template-columns: 1fr;
}
.grid--3-cols{
  grid-template-columns: 1fr;
}
.grid--4-cols{
  grid-template-columns: repeat(2,1fr);
}

  .main-nav{
    display: none;
  }
  
  .btn-mobile-nav {
    display: flex;
  }


  .services div{
    text-align: center;
  }

  .step-text-box:nth-child(1){
    grid-row:2;
  }

  .step-text-box:nth-child(5){
    grid-row:6;
  }

  .intro-header{
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .intro-header h2{
    width: 100%;
  }
  .intro-header p{
    width: 100%;
  }
  }