/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #636c79;
}

.logo {
  height: 4.2rem;
  /* color: #fff; */
}
/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 2px solid;
}


.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #eee;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #636c79;
  padding: 9.6rem 0;
}
.hero{
  padding: 0 3.2rem;
  max-width: 130rem;
}

.hero-left img {
  width: 100%;
}
.hero-right h1 {
  color: #fff;
}

.hero-right p {
  color: #fff;
}

/* Form element  */
.input-form {
  position: relative;
}
.input-form input {
  height: 7rem;
  width: 90%;
  padding-left: 4rem;
}
input:focus {
  outline: none;
}
.input-form ion-icon {
  position: absolute;
  font-size: 20px;
  left: 15px;
  top: 25px;
}

.input-form .btn {
  position: absolute;
  right: 7.5rem;
  top: 1rem;
  
}

/**************************/
/* MID SECTION */
/**************************/

.mid-section {
  padding: 9.6rem 0;
}



.statistics {
  justify-items: center;
}

.statistics div span {
  font-size: 3.4rem;
  margin-left: 20px;
}
.mid-secion-image {
  text-align: center;
}
.mid-secion-image img {
  height: 100%;
  width:100%;
}

/**************************/
/* Services SECTION */
/**************************/
.section-services {
  padding: 4.8rem 0 4.8rem 0;
}

.section-services .container:first-child h2 {
  max-width: 400px;
  margin: 0 auto;
}

.step-text-box:nth-child(4){
  width:46rem;
}

.services{
  margin-top:4rem;
}
.step-img-box {
  
}

.step-img-box img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
 
}
.step-img-box:nth-child(2) img{
  object-position: right;
}

.step-img-box:nth-child(3) img{
  object-position: top;
}


/* .services .step-img-box:first-child img {
  right: 18rem;
} */

/**************************/
/* Team Intro SECTION */
/**************************/
.section-team-intro {
  padding: 9.6rem 0;
}
.intro-header{
  display: grid;
  grid-template-columns: 1fr 1fr;;
  margin-bottom: 2.8rem;
  
}

.intro-header h2{
  width: 50%;
}
.intro-header p{
  width: 80%;
}


.team img {
  width: 90%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: 1rem;;
}
.team p{
  width: 90%;
}
.more-team {
  text-align: center;
}

.team-container {
  
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  padding: 9.6rem 0;
  background-color: #000;
  color: #fff;
}

.footer-top {
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  font-size: 40px;
}

.footer-bottom {
  padding-top: 50px;
}

.footer-heading {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  margin-bottom: 2rem;
}

.footer-bottom div ul {
  flex-direction: column;
}

.footer-bottom div ul li a {
  font-size: 1rem;
}
